/*
	Blog posts Styles
*/

$chronology-margin: 85px;
$chronology-padding: $chronology-margin * 0.8;

.posts {
	padding: 0 15px;

	@include breakpoint(medium only) {
		margin-right: $chronology-margin;
		padding-right: $chronology-padding;
		border-right: 1px solid $medium-gray;
	}
	@include breakpoint(large) {
		padding: 0;
	}
}

.posts-date {
	display: none;
	padding-bottom: 20px;
	text-align: center;

	@include breakpoint(medium only) {
		display: block;
	}

	&__date {
		position: relative;
		right: -50%;
		display: inline-block;
		margin-left: $chronology-padding * 2;
		padding: 0.4rem 2rem;
		border: 1px solid $medium-gray;
		background-color: $xlight-gray;
		text-align: center;

	}
}

.post {
	$arrow-size: 10px;
	$arrow-top-margin: 30px;
	$chronology-post-dot-size: 7px;

	position: relative;
	margin-bottom: 20px;
	background-color: $white;

	@include breakpoint(large) {
		margin-bottom: 35px;
	}

	/***** Chronology arrow *****/

	&:after {
		@include breakpoint(medium only) {
			position: absolute;
			top: $arrow-top-margin;
			right: -$arrow-size;
			display: block;
			border: {
				top: $arrow-size solid $white;
				right: $arrow-size solid $white;
				bottom: $arrow-size solid transparent;
				left: $arrow-size solid transparent;
			}
			content: '';
			transform: rotateZ(45deg);
		}
	}

	/***** Chronology post dot *****/

	&:before {
		@include breakpoint(medium only) {
			position: absolute;
			top: $arrow-top-margin + ($arrow-size + $chronology-post-dot-size) / 2;
			right: -$chronology-padding - $chronology-post-dot-size / 2;
			display: block;
			width: $chronology-post-dot-size;
			height: $chronology-post-dot-size;
			border-radius: 50%;
			background-color: $medium-gray;
			content: '';
		}
	}

	&__header {
		padding-top: 20px;
		text-align: center;

		@include breakpoint(large) {
			padding-top: 30px;
		}
	}
	&-headline {
		margin: 0;
		color: $dark-gray;
		font-weight: $global-weight-bold;
	}
	&__date {
		margin-top: 5px;
		color: $medium2-gray;
		text-align: center;
		font-size: $mobile-font-size-xsmall;

		@include breakpoint(medium) {
			font-size: $tablet-font-size-xxsmall;
		}
	}
	&__figure {
		margin: 10px 0 0;

		@include breakpoint(large) {
			margin-top: 20px;
		}
		img {
			width: 100%;
		}
	}
	&__content {
		$max-number-of-lines: 3;
		$line-height: 1.4em;

		overflow: hidden;
		margin: 0.8rem;
		max-height: $line-height * $max-number-of-lines;
		//NOTE '...' endings doesn't work properly with 'ellipsis'
		//		text-overflow: ellipsis;
		color: $medium2-gray;
		word-wrap: break-word;
		hyphens: auto;
		font-size: $mobile-font-size-small;
		line-height: $line-height;

		@include breakpoint(medium) {
			font-size: $tablet-font-size-xsmall;
		}
		@include breakpoint(large) {
			$max-number-of-lines: 4;

			margin: 1.5rem;
			max-height: $line-height * $max-number-of-lines;
			font-size: $tablet-font-size-xxsmall;
		}
	}
	&__button {
		margin: 0.8rem;
		text-align: center;

		@include breakpoint(large) {
			margin-bottom: 2.5rem;
		}
	}
	&__footer {
		padding: 0 0.8rem;
		border-top: 1px dotted $theme-color;

		@include breakpoint(large) {
			padding: 0 1.5rem;
		}
	}
}

.post-share {
	float: right;
	margin-right: -0.8rem;

	@include breakpoint(large) {
		display: none;
	}
}

.post-ctas {
	display: inline-block;
	padding: 0.5rem 0;

	@include breakpoint(large) {
		padding: 1rem 0;
	}
}

.post-socials {
	display: none;
	float: right;
	padding: 0.8rem 0;

	@include breakpoint(large) {
		display: block;
	}
	a {
		padding: 7px;
		width: 30px;
		height: 30px;
		border: 1px solid $theme-color;
		font-size: $tablet-font-size-xxsmall;
	}
}

.post-nav-buttons {
	margin-top: -20px;
	padding: 15px;
	text-align: center;

	@include breakpoint(medium only) {
		margin-right: $chronology-margin;
		padding: {
			top: 30px;
			right:  $chronology-padding;
			bottom: 30px;
		}
		border-right: 1px solid $medium-gray;
	}
	@include breakpoint(large) {
		padding-right: 0;
		padding-left: 0;
	}

	& &__next {
		float: left;
	}

	& &__more {
		display: none;
		//		min-width: 70px;

		@include breakpoint(medium only) {
			display: inline-block;
		}
	}

	& &__prew {
		float: right;
	}

	& &__next,
	& &__prew {
		@include breakpoint(medium only) {
			display: none;
		}
	}
}


/*
	Posts/Aside Splitter Style
*/

.splitter {
	position: absolute;
	right: 0;
	left: 0;
	display: none;
	margin: 0;
	border-color: $medium-gray;

	@include breakpoint(medium only) {
		display: initial;
	}
}
