/*
	All buttons styles are here
*/

$buttons-breakpoint-1: small down;
$buttons-breakpoint-2: medium only;

.btn {
	display: inline-block;
	padding: $button-padding;
	min-width: $button-min-width;
	border: $button-border-width $button-fill $button-color;
	text-align: center;
	font-size: $tablet-font-size-xsmall;
	cursor: pointer;
	transition: all $button-transition-time $button-transition-easing;

	@include breakpoint($buttons-breakpoint-1) {
		padding: $button-padding-mobile;
		min-width: $button-min-width-mobile;
		border-width: $button-border-width-mobile;
		font-size: $mobile-font-size-small;
	}

	&:active {
		transition: all 0s;
		filter: brightness(90%);
	}

	&--main {
		border-color: $button-background;
		background-color: $button-background;
		color: $button-color-alt;
		&:hover {
			border-color: $button-background-hover;
			background-color: $button-background-hover;
		}
	}

	&--alt {
		color: $button-color;

		@include breakpoint($buttons-breakpoint-2) {
			padding: $button-padding-tablet;
			min-width: $button-min-width-mobile * 1.4;
			font-size: $tablet-font-size-xxsmall;
		}

		&:hover {
//			border-color: $button-background-hover;
//			background-color: rgba(95, 120, 0, 0.08);
//			color: $button-background-hover;
			background-color: $theme-color;
			color: $white;
		}
	}

	&--main-nav {
		padding: 12px;
		min-width: 0;
		border-color: rgba(255, 255, 255, 0.8);
		border-radius: $button-radius;
		font-size: 0;

		@include breakpoint(medium) {
			padding: 15px;
		}
	}

	.menu-icon {
		width: 22px;

		@include breakpoint(medium) {
			width: 25px;
		}
		.menu-bar {
			background-color: rgba(255, 255, 255, 0.8);
		}
	}

	&--share {
		padding: 0.7rem;
		min-width: 0;
		border-color: transparent;
		color: $theme-color;
		font-size: $mobile-font-size-medium;
		line-height: 1em;
	}

	&--next-prew {
		padding-right: 0;
		padding-left: 0;
		min-width: 0;
		border-color: transparent;
		transition: all $button-transition-time $button-transition-easing;

		&:first-child:before {
			display: inline-block;
			margin-right: 5px;
			width: $tablet-font-size-xxsmall;
			height: $tablet-font-size-xxsmall;
			border-top: 3px solid $theme-color;
			border-left: 3px solid $theme-color;
			content: '';
			transition: all $button-transition-time $button-transition-easing;
			transform: translateY(1px) rotateZ(-45deg);
		}

		&:last-child:after {
			display: inline-block;
			margin-left: 5px;
			width: $tablet-font-size-xxsmall;
			height: $tablet-font-size-xxsmall;
			border-right: 3px solid $theme-color;
			border-bottom: 3px solid $theme-color;
			content: '';
			transition: all $button-transition-time $button-transition-easing;
			transform: translateY(1px) rotateZ(-45deg);
		}

		&:hover {
			color: $theme-color;
			&:first-child:before {
				border-color: $dark-gray;
				transform: translateY(1px) translateX(-5px) rotateZ(-45deg);
			}
			&:last-child:after {
				border-color: $dark-gray;
				transform: translateY(1px) translateX(5px) rotateZ(-45deg);
			}
		}
	}

	//TODO: [x] make correct buttons styles
	&--search {
		padding: 0.5rem 1.5rem;
		min-width: 0;
		border: none;
		font-size: $mobile-font-size-big;

		@include breakpoint(medium only) {
			padding: 0.5rem 2rem;
			font-size: $tablet-font-size-big;
		}
		@include breakpoint(large) {
			padding: 0.3rem 1.2rem;
			font-size: $tablet-font-size-xsmall;
		}
	}

	//TODO [x] make CSS for social icons
	&--ico {
		padding: 0.7rem;
		min-width: 0;
		border: none;
		border-radius: 50%;
		color: $theme-color;


		&:hover {
			color: $button-background-hover;
		}
	}
}
