/*
	Footer Styles
*/

.footer {
	background-color: $dark2-gray;
	color: $white;
	text-align: center;
	font-size: $mobile-font-size-medium;

	@include breakpoint(medium) {
		text-align: left;
		font-size: $tablet-font-size-xsmall;
	}
	@include breakpoint(large) {
		background-color: transparent;
		font-size: $tablet-font-size-xxsmall;
	}

	&__content {
		display: block;
		padding: 0.8rem 1rem;
		background-color: $dark2-gray;
	}
}
