/*
	HiperRef List Styles
*/

.list {
	margin: 0 auto;
	list-style: none;

	&--socials-nav .item-link--main-nav {
		width: 2.5rem;
	}
	&--aside {
		font-size: $mobile-font-size-medium;
		line-height: 3rem;

		@include breakpoint(medium) {
			padding-top: 10px;
			font-size: $tablet-font-size-small;
		}
		@include breakpoint(large) {
			padding-top: 0;
			font-size: $tablet-font-size-xxsmall;
			line-height: 2.5rem;
		}
	}

	&__item {
		display: inline-block;
		&--main-nav {
			display: block;

			@include breakpoint(large) {
				display: inline-block;
			}

			&:last-child .item-link {
				border: none;
			}
		}
		&--post-cta:last-child .item-link:after {
			display: none;
			}
		&--aside {
			display: block;
			border-bottom: 1px dotted $theme-color;
			&:last-child {
			border: none;
			}
		}

		.item-link {
			display: block;
			color: $theme-color;
			transition: all $button-transition-time $button-transition-easing;

			&:hover {
				background-color: $theme-color;
				color: $white;
			}
			&:active {
				transition: all 0s;
				filter: brightness(90%)
			}

			&--main-nav {
				padding: 1rem;
				border-bottom: 1px dotted #fff;
				color: $white;
				text-align: center;

				@include breakpoint(large) {
					padding: 0 0.8rem;
					border: none;
					font-size: $tablet-font-size-xxsmall;
					line-height: 2.5rem;
				}
			}
			&--post-cta {
				padding-right: 3px;
				font-size: $mobile-font-size-small;
				transition: color $button-transition-time $button-transition-easing;

				@include breakpoint(large) {
					font-size: $tablet-font-size-xxsmall;
				}

				&:hover {
					background-color: transparent;
					color: $button-background-hover;
				}

				&:after {
					display: inline-block;
					margin-left: 3px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $medium-gray;
					content: '';
					vertical-align: middle;
				}
			}
		}
	}
}
