/*
Main navigation Styles
*/

.main-nav {
	$menu-slide-length: -289px;

	position: relative;
	margin-top: $menu-slide-length;
	background-color: $dark2-gray;
	transition: margin-top 0.2s ease-in-out;

	@include breakpoint(large) {
		margin-top: 0;
	}

	&.is-active {
		margin-top: 0;
	}

	&__items-list {
		@include breakpoint(large) {
			float: left;
			margin-left: -15px;
		}
	}

	&__btn {
		position: absolute;
		top: 300px;
		right: 15px;

		@include breakpoint(medium) {
			top: 310px;
		}
		//TODO [x] uncoment breakpoint
		@include breakpoint(large) {
			display: none;
		}
	}

	&__socials {
		display: none;
		float: right;
		margin-right: -15px;

		@include breakpoint(large) {
			display: block;
		}
	}
}

.nav-item-link {
	margin: 0 auto;
}
