/*
	Aside bar Styles
*/

.fp-aside {
	margin: 20px 30px 60px;
	font-family: $aside-font-family;

	@include breakpoint(medium only) {
		margin: {
			top: 30px;
			right: 0px;
			left: 15px;
		}
		padding-right: $chronology-margin + $chronology-padding;
	}
	@include breakpoint(large) {
		margin: 0 0 0 -15px;
	}

	.headline {
		color: $dark-gray;
		text-align: center;
	}

	&__section {
		margin-bottom: 15px;

		@include breakpoint(large) {
			margin-bottom: 25px;
		}

		&:not(:first-child) {
			padding: 20px 20px 25px;
			background-color: $white;

			@include breakpoint(medium only) {
				padding: {
					top: 30px;
					bottom: 35px;
				}
			}
			@include breakpoint(large) {
				padding: 15px;
				padding-bottom: 20px;
			}
		}
	}
}

.search-form {
	position: relative;
	padding-right: 6.2rem;

	@include breakpoint(medium) {
		padding-right: 7.8rem;
	}
	@include breakpoint(large) {
		padding-right: 5.5rem;
	}
}

.search-field {
	padding: 0.5rem;
	width: 100%;
	border: none;
	font-size: $mobile-font-size-big;

	@include breakpoint(medium) {
		font-size: $tablet-font-size-big;
	}
	@include breakpoint(large) {
		padding: 0.3rem;
		font-size: $tablet-font-size-xsmall;
	}
}

.search-button {
	position: absolute;
	top: 0;
	right: 0;
	float: right;


}

.aside-socials {
	.list {
		text-align: center;

		@include breakpoint(medium) {
			padding: {
				top: 15px;
			}
			font-size: $tablet-font-size-xsmall;
		}
		&__item {
			display: inline-block;

			@include breakpoint(large) {
				display: inline-block;
				font-size: 18px;
				a {
					width: 38px;
					height: 38px;
				}
			}
		}
	}
}

.newsletters {
	&__message {
		color: $medium1-gray;
		text-align: center;
		font-size: $mobile-font-size-medium;

		@include breakpoint(medium) {
			padding: {
				top: 15px;
				bottom: 15px;
			}
			font-size: $tablet-font-size-xsmall;
		}
		@include breakpoint(large) {
			padding: {
				top: 8px;
				bottom: 10px;
			}
			font-size: $tablet-font-size-xxsmall * 0.95;
			line-height: 1.2em;
		}
	}
}

.email-form {
	position: relative;
	margin-bottom: 5px;
	padding-right: 0px;
}

.email-field {
	padding: 0.5em;
	padding-right: 2.5em;
	width: 100%;
	border: none;
	background-color: $xlight-gray;
	font-size: $mobile-font-size-big;

	@include breakpoint(medium) {
		font-size: $tablet-font-size-xsmall;
	}
}

.email-submit {
	position: absolute;
	right: 1px;
	bottom: 1px;
	height: 95%;
	background-color: $xlight-gray;
}

.category-item-counter {
	float: right;
}

.archive,
.category {
	.item-link {
		padding: 0 0.5em;
	}
}
