/*
	Header Styles
*/

.fp-header {
	margin-bottom: 20px;

	&__content {
		background: url(../img/jpg/header-bg.jpg) center bottom no-repeat;
		background-size: cover;

		@include breakpoint(large) {
			margin-top: 70px;
			background: none;
		}

		.fp-header-bg-wraper {
			@include breakpoint(large) {
				padding-top: 170px;
				background: url(../img/jpg/header-bg.jpg) center bottom no-repeat;
				background-size: cover;
			}
		}

		.main-logo {
			margin-top: 10px;
			height: 40px;

			@include breakpoint(medium) {
				margin-top: 20px;
				height: 50px;
			}
			@include breakpoint(large) {
				display: block;
				margin: 0 auto;
				height: 100px;
			}
		}

		.slogan {
			padding-top: 50px;
			padding-bottom: 30px;

			@include breakpoint(medium only) {
				padding-top: 80px;
				padding-bottom: 5px;
			}
			@include breakpoint(large) {
				padding-top: 40px;
				padding-bottom: 170px;
				text-align: center;
			}
		}

		.slogan-details {
			display: none;
			padding-bottom: 30px;
			color: $white;
			word-spacing: 0.05em;
			letter-spacing: 0.08em;
			font-size: $tablet-font-size-medium;

			@include breakpoint(medium only) {
				display: block;
			}
		}
	}
}
