<header class="fp-header">

	<!-- Inserting main navigation block -->
	{{> main-nav}}

	<div class="fp-header__content">
		<div class="row">
			<div class="column">
				<div class="fp-header-bg-wraper">
					<img src="assets/img/logos/logo-home.png" alt="doodja-logo" class="main-logo">
					<h1 class="slogan">
						Rent outdoor gear from people just like you.
					</h1>
					<p class="slogan-details">
						Save money, experience outside and spend less.
					</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main class="fp-main">
	<div class="row" data-sticky_parent>
		<div class="column large-9" data-sticky_column>

			<!-- Inserting blog posts block -->
			{{> blog-posts}}

<!--			#TODO [x] buttons PREW, NEXT and LOAD MORE-->
			<div class="post-nav-buttons clearfix">
				<div class="post-nav-buttons__next btn btn--next-prew">
					Newer post
				</div>
				<div class="post-nav-buttons__more btn btn--main">
					LOAD MORE
				</div>
				<div class="post-nav-buttons__prew btn btn--next-prew">
					Older post
				</div>
			</div>
		</div> <!-- column -->

		<div class="column large-3" id="js-sticky" data-sticky_column>
			<hr class="splitter">

			<aside class="fp-aside">
				<section class="fp-aside__section">
					<div class="search">
			<!--				#TODO [x] search form-->
						<form action="" method="get" class="search-form">
							<input type="search" name="search-field" id="search-field" placeholder="Search" class="search-field">
							<input type="button" value="Go" class="search-button btn btn--main btn--search">
						</form>
					</div>
				</section> <!-- search -->

			<!--		#FUTURE: [x] check BEM classes-->
			<!--		#FUTURE: delete unused classes-->
				<section class="fp-aside__section">
					<div class="aside-socials">
						<h3 class="headline aside-socials__headline">
							Follow us
						</h3>

						<ul class="list list--socials">
							<li class="list__item list__item--socials"><a href="#" class="btn btn--ico fa fa-facebook"></a></li>
							<li class="list__item list__item--socials"><a href="#" class="btn btn--ico fa fa-twitter"></a></li>
							<li class="list__item list__item--socials"><a href="#" class="btn btn--ico fa fa-google"></a></li>
							<li class="list__item list__item--socials"><a href="#" class="btn btn--ico fa fa-pinterest-p"></a></li>
							<li class="list__item list__item--socials"><a href="#" class="btn btn--ico fa fa-instagram"></a></li>
						</ul>
					</div>
				</section> <!-- aside-socials -->

				<section class="fp-aside__section">
					<div class="newsletters">
						<h3 class="headline newsletters__headline">
							Newsletter
						</h3>

						<p class="newsletters__message">
							Signup to receive my latest news.
						</p>

						<form action="" method="post" class="email-form"	>
			<!--				#TODO [x] email form-->
							<input type="email" name="email-field" id="email-field" placeholder="Email" class="email-field">

							<div class="email-submit btn btn--ico fa fa-envelope"></div>
						</form>
					</div>
				</section> <!-- newsletters -->

				<section class="fp-aside__section">
					<div class="category">
						<h3 class="headline category__headline">
							Category
						</h3>

						<ul class="list list--aside">
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									Category 1
									<span class="category-item-counter">
										(<span>11</span>)
									</span>
								</a>
							</li>

							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									Category 2
									<span class="category-item-counter">
										(<span>12</span>)
									</span>
								</a>
							</li>

							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									Category 3
									<span class="category-item-counter">
										(<span>3</span>)
									</span>
								</a>
							</li>
						</ul>
					</div>
				</section> <!-- fp-aside__category -->

				<section class="fp-aside__section">
					<div class="archive">
						<h3 class="headline archive__headline">
							Archive
						</h3>

						<ul class="list list--aside">
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									May 2016
								</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									April 2016
								</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									March 2016
								</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									February 2016
								</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									January 2016
								</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									December 2015
									</a>
							</li>
							<li class="list__item list__item--aside">
								<a href="#" class="item-link">
									November 2015
								</a>
							</li>
						</ul>
					</div>
				</section> <!-- fp-aside__archive -->
			</aside>
		</div> <!-- column -->
	</div> <!-- row -->
</main>

<!-- Inserting main navigation block -->
{{> footer}}
