<section class="posts">

	<!--===== Blog date group =====-->

	<section class="posts-date-group">
		<div class="posts-date clearfix">
			<div class="posts-date__date">
				May 2016
			</div>
		</div>

		<!--===== Blog post =====-->

		<article class="post">
			<header class="post__header">
				<h2 class="post-headline">
					Lorem ipsum dolor sit amet.
				</h2>
			</header>

			<div class="post__date">
				May 12nd 2016
			</div>

			<figure class="post__figure">
				<img src="assets/img/jpg/campfire-896196_1920.jpg" alt="Some picture">
			</figure>

			<p class="post__content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ab, asperiores suscipit perferendis velit, eligendi placeat sed, distinctio fuga quos dolores consequuntur! Amet, animi aspernatur est. Laudantium quas quo nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit labore sint illum, similique facere eos sed, fugit aut tempora repellat?
			</p>

			<div class="post__button">
				<div class="btn btn--alt">
					Read more
				</div>
			</div>

			<footer class="post__footer">
				<div class="post-ctas">
					<ul class="list list--post-cta">
						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-comments-o"></i>
								<span>2</span>
								comments
							</a>
						</li>

						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-share-square-o"></i>
								<span>3</span>
								shares
							</a>
						</li>
						<!--#NOTE Is 'Views' block needed or not?-->
						<!--
<li class="list__item list__item--post-cta">
<a href="#" class="item-link">
<span>227</span>
views
</a>
</li>
-->
					</ul>
				</div>

				<div class="post-share">
					<div class="btn btn--share">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>

				<div class="post-socials">
					<ul class="list list--socials list--socials-alt">
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-facebook"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-twitter"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-google"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-pinterest-p"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-instagram"></a></li>
					</ul>
				</div>
			</footer>
		</article>

		<!--===== Blog post =====-->

		<article class="post">
			<header class="post__header">
				<h2 class="post-headline">
					Lorem ipsum dolor sit amet.
				</h2>
			</header>

			<div class="post__date">
				May 12nd 2016
			</div>

			<figure class="post__figure">
				<img src="assets/img/jpg/camping-691424_1280.jpg" alt="Some picture">
			</figure>

			<p class="post__content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ab, asperiores suscipit perferendis velit, eligendi placeat sed, distinctio fuga quos dolores consequuntur! Amet, animi aspernatur est. Laudantium quas quo nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit labore sint illum, similique facere eos sed, fugit aut tempora repellat?
			</p>

			<div class="post__button">
				<div class="btn btn--alt">
					Read more
				</div>
			</div>

			<footer class="post__footer">
				<div class="post-ctas">
					<ul class="list list--post-cta">
						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-comments-o"></i>
								<span>2</span>
								comments
							</a>
						</li>

						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-share-square-o"></i>
								<span>3</span>
								shares
							</a>
						</li>
						<!--#NOTE Is 'Views' block needed or not?-->
						<!--
<li class="list__item list__item--post-cta">
<a href="#" class="item-link">
<span>227</span>
views
</a>
</li>
-->
					</ul>
				</div>

				<div class="post-share">
					<div class="btn btn--share">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>

				<div class="post-socials">
					<ul class="list list--socials list--socials-alt">
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-facebook"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-twitter"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-google"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-pinterest-p"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-instagram"></a></li>
					</ul>
				</div>
			</footer>
		</article>
	</section> <!-- posts-date-group -->


	<!--===== Blog date group =====-->

	<section class="posts-date-group">
		<div class="posts-date clearfix">
			<div class="posts-date__date">
				April 2016
			</div>
		</div>

		<!--===== Blog post =====-->

		<article class="post">
			<header class="post__header">
				<h2 class="post-headline">
					Lorem ipsum dolor sit amet.
				</h2>
			</header>

			<div class="post__date">
				April 18nd 2016
			</div>

			<figure class="post__figure">
				<img src="assets/img/jpg/camp-fire-1149184_1920.jpg" alt="Some picture">
			</figure>

			<p class="post__content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ab, asperiores suscipit perferendis velit, eligendi placeat sed, distinctio fuga quos dolores consequuntur! Amet, animi aspernatur est. Laudantium quas quo nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit labore sint illum, similique facere eos sed, fugit aut tempora repellat?
			</p>

			<div class="post__button">
				<div class="btn btn--alt">
					Read more
				</div>
			</div>

			<footer class="post__footer">
				<div class="post-ctas">
					<ul class="list list--post-cta">
						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-comments-o"></i>
								<span>2</span>
								comments
							</a>
						</li>

						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-share-square-o"></i>
								<span>3</span>
								shares
							</a>
						</li>
						<!--#NOTE Is 'Views' block needed or not?-->
						<!--
<li class="list__item list__item--post-cta">
<a href="#" class="item-link">
<span>227</span>
views
</a>
</li>
-->
					</ul>
				</div>

				<div class="post-share">
					<div class="btn btn--share">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>

				<div class="post-socials">
					<ul class="list list--socials list--socials-alt">
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-facebook"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-twitter"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-google"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-pinterest-p"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-instagram"></a></li>
					</ul>
				</div>
			</footer>
		</article>

		<!--===== Blog post =====-->

		<article class="post">
			<header class="post__header">
				<h2 class="post-headline">
					Lorem ipsum dolor sit amet.
				</h2>
			</header>

			<div class="post__date">
				April 10nd 2016
			</div>

			<figure class="post__figure">
				<img src="assets/img/jpg/camping-1289930_1920.jpg" alt="Some picture">
			</figure>

			<p class="post__content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ab, asperiores suscipit perferendis velit, eligendi placeat sed, distinctio fuga quos dolores consequuntur! Amet, animi aspernatur est. Laudantium quas quo nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit labore sint illum, similique facere eos sed, fugit aut tempora repellat?
			</p>

			<div class="post__button">
				<div class="btn btn--alt">
					Read more
				</div>
			</div>

			<footer class="post__footer">
				<div class="post-ctas">
					<ul class="list list--post-cta">
						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-comments-o"></i>
								<span>2</span>
								comments
							</a>
						</li>

						<li class="list__item list__item--post-cta">
							<a href="#" class="item-link item-link--post-cta">
								<i class="fa fa-share-square-o"></i>
								<span>3</span>
								shares
							</a>
						</li>
						<!--#NOTE Is 'Views' block needed or not?-->
						<!--
<li class="list__item list__item--post-cta">
<a href="#" class="item-link">
<span>227</span>
views
</a>
</li>
-->
					</ul>
				</div>

				<div class="post-share">
					<div class="btn btn--share">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>

				<div class="post-socials">
					<ul class="list list--socials list--socials-alt">
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-facebook"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-twitter"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-google"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-pinterest-p"></a></li>
						<li class="list__item list__item--socials"><a href="#" class="btn btn--ico item-link fa fa-instagram"></a></li>
					</ul>
				</div>
			</footer>
		</article>
	</section> <!-- posts-date-group -->
</section>
