<footer class="footer">
	<div class="row">
		<div class="column">
			<span class="footer__content">
				Copyright &copy; 2016 - Doodja
			</span>
		</div> <!-- column -->
	</div> <!-- row -->
</footer>
