<nav class="main-nav js-main-nav">
	<div class="row">
		<div class="column">
			<div class="main-nav__btn js-main-nav__btn">
				<div class="btn btn--main-nav">
					<div class="menu-icon"></div>
				</div>
			</div>

			<div class="main-nav__items-list">
				<ul class="list list--main-nav">
					<li class="list__item list__item--main-nav">
						<a href="#" class="item-link item-link--main-nav">
							HOME
						</a>
					</li>
					<li class="list__item list__item--main-nav">
						<a href="#" class="item-link item-link--main-nav">
							ARCHIVE
						</a>
					</li>
					<li class="list__item list__item--main-nav">
						<a href="#" class="item-link item-link--main-nav">
							CONTACTS
						</a>
					</li>
					<li class="list__item list__item--main-nav">
						<a href="#" class="item-link item-link--main-nav">
							SIGN UP
						</a>
					</li>
					<li class="list__item list__item--main-nav">
						<a href="#" class="item-link item-link--main-nav">
							LOG IN
						</a>
					</li>
				</ul>
			</div>

			<div class="main-nav__socials">
				<ul class="list list--socials list--socials-nav">
					<li class="list__item list__item--socials"><a href="#" class="item-link item-link--main-nav fa fa-facebook"></a></li>
					<li class="list__item list__item--socials"><a href="#" class="item-link item-link--main-nav fa fa-twitter"></a></li>
					<li class="list__item list__item--socials"><a href="#" class="item-link item-link--main-nav fa fa-google"></a></li>
					<li class="list__item list__item--socials"><a href="#" class="item-link item-link--main-nav fa fa-pinterest-p"></a></li>
					<li class="list__item list__item--socials"><a href="#" class="item-link item-link--main-nav fa fa-instagram"></a></li>
				</ul>
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</nav>
